.header{
  padding: 16px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  font-family: var(--font-family);
}

.form{
  padding: 16px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form > button{
  padding: 4px 8px;
  border-radius: 5px;
  border: 1px solid silver;
  cursor: pointer;
  font-size: 16px;
}

.form > button:hover{
  background-color: var(--pr-color);
  color: #fff;
  font-weight: 600;
}

.formBottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formBottom button span{
  font-size: 14px;
}

.formBottom button{
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.formBottom button:hover span{
  font-weight: 600;
  color: var(--pr-color);
}