.container{
  width: var(--nav-width);
  border-right: 1px solid silver;
}

.navWrapper{
  padding: 0 16px;
}

.navWrapper>ul{
  transition: all 1s;
}

.navTitle{
  padding: 16px 8px 8px 12px;
  margin-bottom: 4px;
  color: #808b96;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  font-family: var(--pretendard);
}

.navTitle:hover{
  color: #000;
}

.childrenTitle{
  padding: 4px 8px 4px 12px;
  margin: 0 0 4px;
  min-height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  color: #637381;
  border-radius: 8px;
}

.childrenTitle:hover{
  background-color: rgb(243, 246, 249);
}

.childrenTitle > div{
  display: flex;
  align-items: center;
}

.childrenTitle > div > svg{
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.childrenTitle > .subTitleIcon > svg{
  width: 16px;
  height: 16px;
  margin: 0 8px;
}

.subTitleIconOpen{
  transform: rotate(180deg);
}

.childrenSelected{
  background-color: #ebf5ff;
  color: var(--pr-color);
}

.childrenSelected:hover{
  background-color: rgba(0, 127, 255, 0.12);
}

.child{
  padding: 4px 8px 4px 12px;
  min-height: 44px;
  display: flex;
  align-items: center;
}

.child span:first-child{
  width: 24px;
  height: 24px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child span:first-child::before{
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #919eab;
}

.child span:last-child{
 font-size: 14px; 
 color: #919eab;
 font-weight: 500;
}

.childSelected span:first-child::before{
  background-color: var(--pr-color);
  width: 8px;
  height: 8px;
}

.childSelected span:last-child{
  color: #000;
  font-weight: 600;
}